<h1>Seeds</h1>

<table class="mat-table cdk-table mat-elevation-z8" role="grid">
    <thead role="rowgroup">
        <tr class="mat-header-row cdk-header-row ng-star-inserted" role="row">
            <th class="mat-header-cell cdk-header-cell cdk-column-position mat-column-position ng-star-inserted" role="columnheader" *ngFor="let title of header; let t = index">{{ title }}</th>
        </tr>
    </thead>
<tbody role="rowgroup">
    <tr class="mat-row cdk-row ng-star-inserted" role="row" *ngFor="let seed of seeds; let s = index">
        <td class="mat-cell cdk-cell cdk-column-position mat-column-position ng-star-inserted" role="gridcell" *ngFor="let field of seed; let f = index">{{ field }}</td>
    </tr>
</tbody>

</table>