/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spacer {
    flex: 1 1 auto;
}

body {
    overflow-y: hidden;
}

.mat-tooltip.tooltip {
    font-size: 16px;
}

.mat-sort-header-container {
    justify-content: center !important;
}

.icon-button-spacer {
    width: 92px;
    height: 40px;
}

.progress-bar-spacer {
    height: 4px;
    background-color: f5f5f5;
}