<mat-toolbar>
  <button *ngIf="sidenavService.isReady(); else buttonSpacer" mat-icon-button (click)="sidenavService.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <ng-template #buttonSpacer>
    <div class="icon-button-spacer"></div>
  </ng-template>

  <span class="spacer"></span>

  <button mat-button routerLink="/">
      <mat-icon class="main-logo">insights</mat-icon>
      <span class="mat-headline">
      Dyson Sphere Program Seedbank
    </span>
  </button>

  <button mat-icon-button  routerLink="/search">
    <mat-icon>search</mat-icon>
  </button>

  <span class="spacer"></span>

</mat-toolbar>
<mat-progress-bar *ngIf="progressService.isRunning; else progressSpacer" #progressBar mode="indeterminate"></mat-progress-bar>
<ng-template #progressSpacer>
  <div class="progress-bar-spacer"></div>
</ng-template>